/* google fonts  start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* google fonts end */

/* header-area start */
.header-area
{
    background-color:#264653;
}
.text-color
{
    color: #E0E0E0;
}
.btn-honda-primary
{
    background: #E76F51;
}

/* header-area end */

/* main */

/* featurer-area start*/
.text-honda-danger{
    color: #E76F51;
}
.gray-scale-1
{
    filter: grayscale(85%);
}
.gray-scale-2
{
    filter: grayscale(100%);
}

/* featurer-area end*/

/* client-area start */
.client-text
{
    color: #0A0826;
}
.card-image
{
    width: 177px;
    height: 177px;
    border-radius: 50%;
}
.star-fillup,
.star-unfillup
{
    color:#E77C40
}

.text-honda-primary
{
    color:#6C6C6C;
}
/* client-area end */

.accordion-honda-item

{
    border:none !important;
    margin-bottom: 20px;
    
}



/* main end */
